{% extends 'base.html' %}

{% block title %}
{{product.title}}
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>{{product.title}}</h1>

        <div class="alert alert-info">
            <p>{{product.text}}</p>
            <p><b>Дата: {{product.date.date()}}</b></p>
            <a href="/about/{{product.id}}/development" class="btn btn-danger">Удалить</a>
        </div>
  
</div>
{% endblock %}