{% extends 'base.html' %}

{% block title %}
Заказ
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Все статьи на сайте</h1>

    {% if product|length > 0 %}
        {% for el in product%}
            <div class="col">
                <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="25%" y="50%" fill="#eceeef" dy=".3em">{{el.title}}</text></svg>
    
                <div class="card-body">
                    <p class="card-text">{{el.text}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                    <small class="text-muted">{{el.intro}}</small>
                    </div>
                </div>
                </div>
            </div>
            <a href="/about/{{el.id}}" class="btn btn-warning">Детальней</a>
        {%endfor%}
    {%else%}
        <p>Нет статей на сайте</p>
    {%endif%}
</div>
{% endblock %}