{% extends 'base.html' %}

{% block title %}
Добавить что-то
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Добавление продукта</h1>
    <form method="post">
        <input type="test" name="title" id="title" class="from-control" placeholder="Введите название"><br>
        <textarea name="intro" id="intro" class="from-control" placeholder="Введите цену"></textarea><br>
        <textarea name="text" id="text" class="from-control" placeholder="Введите основной текст"></textarea><br>
        <input type="submit" class="btn btn-success" value="Добавить">
    </form>
</div>
{% endblock %}