{% extends 'base.html' %}

{% block title %}
Создать что-то
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Введите ваши данные для добавления продукта в корзину.</h1>
    <form method="post">
        <input type="test" name="fname" id="fname" class="from-control" placeholder="Введите Имя"><br>
        <textarea name="sname" id="sname" class="from-control" placeholder="Введите Фамилию"></textarea><br>
        <textarea name="number" id="number" class="from-control" placeholder="Введите номер телефона"></textarea><br>
        <input type="submit" class="btn btn-success" value="Отправить">
    </form>
</div>
{% endblock %}