{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Главная страница</h1>
          <p class="lead text-muted">Добро пожаловать!</p>
          <p>
            <a href="/posts" class="btn btn-primary my-2">Перейти в корзину</a>
          </p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
            <div class="container mt-5">
                <h1>Все продукты на сайте</h1>
            
                {% if product|length > 0 %}
                    {% for el in product%}
                        <div class="col">
                            <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="25%" y="50%" fill="#eceeef" dy=".3em">{{el.title}}</text></svg>
                
                            <div class="card-body">
                                <p class="card-text">{{el.text}}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                </div>
                                <small class="text-muted">{{el.intro}}</small>
                                </div>
                            </div>
                            </div>
                        </div>
                        <a href="/create-article/{{el.id}}" class="btn btn-warning">Добавить в корзину</a>
                    {%endfor%}
                {%else%}
                    <p>Нет статей на сайте</p>
                {%endif%}
            </div>
      </div>
    </div>
  
  </main>
{% endblock %}