{% extends 'base.html' %}

{% block title %}
Все статьи на сайте
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Все Ваши заказы</h1>
    {% if order|length > 0 %}
    <p>{{order[0].fname}}, ваши заказы в пути, если возникнут проблемы мы с вами свяжимся по номеру {{order[0].number}}</p>
        {% for el in order%}
            <div class="alert alert-info">
                <h2>{{el.title}}</h2>
                <p>{{el.intro}}</p>
                <p><b>Дата: {{el.date.date()}}</b></p>
                <a href="/order/{{el.id}}" class="btn btn-warning">Удалить?</a>
            </div>
        {%endfor%}
    {%else%}
        <p>Нет заказов на сайте</p>
    {%endif%}
</div>
{% endblock %}