{% extends 'base.html' %}

{% block title %}
{{article.title}}
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>{{article.title}}</h1>

        <div class="alert alert-info">
            <p>{{article.text}}</p>
            <p><b>Дата: {{article.date.date()}}</b></p>
            <a href="/posts/{{article.id}}/del" class="btn btn-danger">Удалить</a>
            <a href="/posts/{{article.id}}/update" class="btn btn-warning">Редактировать</a>
            <a href="/posts/{{article.id}}/orders" class="btn btn-success">Купить!</a>
        </div>
  
</div>
{% endblock %}