{% extends 'base.html' %}

{% block title %}
Все статьи на сайте
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Корзина</h1>

    {% if articles|length > 0 %}
        {% for el in articles%}
            <div class="alert alert-info">
                <h2>{{el.title}}</h2>
                <p>{{el.intro}}</p>
                <p><b>Дата: {{el.date.date()}}</b></p>
                <a href="/posts/{{el.id}}" class="btn btn-warning">Детальней</a>
            </div>
        {%endfor%}
    {%else%}
        <p>Нет статей на сайте</p>
    {%endif%}
</div>
{% endblock %}