{% extends 'base.html' %}

{% block title %}
Обновление страницы
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Редактирование</h1>
    <form method="post">
        <input type="test" name="fname" id="title" class="from-control" value="{{article.fname}}" placeholder="Введите Имя"><br>
        <textarea name="sname" id="sname" class="from-control" placeholder="Введите Фамилию">{{article.sname}}</textarea><br>
        <textarea name="number" id="number" class="from-control" placeholder="Введите номер телефона">{{article.number}}</textarea><br>
        <input type="submit" class="btn btn-success" value="Обновить">
    </form>
</div>
{% endblock %}